<!DOCTYPE html>
<html>
<head>
    <title>TechShop</title>
    <meta charset="UTF-8"/>
</head>
<body>
    <header>
        <h1>IFrames</h1>
    </header>

    <aside>
        <h1>IFrames</h1>
        <p>Uso de IFrames dentro de nuestro sitio web</p>
    </aside>

    <section>
        <h2>IFrames</h2>

        <article>
            <h3>Sitio Web Interno</h3>
            <iframe src="http://ufidelitas.ac.cr" height="400" width="1200">
            </iframe>
        </article>

        <article>
            <h3>YouTube</h3>
            <iframe width="1236" height="695"
                    src="https://www.youtube.com/embed/yCkNTJRL4"
                    title="Épocón en ESPAÑOL - Juega y Busca en la Piscina [12 min] CARICATURA">
            </iframe>
        </article>

        <article>
            <h3>Ubicación</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1572.183153571374!2d-84.00668099999994!3d9.9333514">
            </iframe>
        </article>
    </section>

    <footer>
        Todos los Derechos Reservados TechShop 2025 &COPY;
    </footer>
</body>
</html>
