<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    
    <head th:replace="~{general/plantilla :: head}"/>
    
    <body>
        <section th:fragment="agregar">
            <div class="container py-4">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarCategoria">
                    <i class="fas fa-plus"></i> [[#{categoria.boton.agregar}]]
                </button>
            </div>
        </section>

        <section th:fragment="listado" class="p-3">
            <div class="row p-3">
                <div class="col-md-9">
                    <div class="card p-2">
                        <div class="card-header">
                            <h4>[[#{categoria.listado}]]</h4>
                        </div>
                        <div class="card-body">
                            <div th:if="${categorias != null and !categorias.empty}">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>[[#{categoria.descripcion}]]</th>
                                            <th>[[#{categoria.imagen}]]</th>
                                            <th>[[#{categoria.activo}]]</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="c : ${categorias}">
                                            <td>[[${c.idCategoria}]]</td>
                                            <td>[[${c.descripcion}]]</td>
                                            <td>
                                                <img th:src="@{${c.rutaImagen}}" alt="noData" height="75"/>
                                            </td>
                                            <td th:text="${c.activo} ? 'Activa' : 'Inactiva'"></td>
                                            <td>
                                                <button type="button" class="btn btn-danger"
                                                        data-bs-toggle="modal" data-bs-target="#confirmModal"
                                                        th:data-bs-id="${c.idCategoria}"
                                                        th:data-bs-descripcion="${c.descripcion}">
                                                    <i class="fa-solid fa-trash"></i> [[#{accion.eliminar}]]
                                                </button>
                                                <a th:href="@{/categoria/modificar/}+${c.idCategoria}" class="btn btn-success">
                                                    <i class="fas fa-pencil-alt"></i> [[#{